/* Swipe works with mouse as well but often causes text selection. */

#page * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

/* -------------------------
	::	Page/Body
----------------------------*/
.ui-overlay-c, .ui-panel-content-wrap, .ui-page  { 
	background: #e6e3dc;
  margin:0px;
  padding:0px;
	border:none;
	top:0px;
}
.blacksripe { 
	position:fixed; 
  top:0px;
	width:100%;
	height:6px; 
	background:#000; 
	z-index:1;
  border:none;
}

/* -------------------------
	::	HEADER
----------------------------*/
#header {
	border: none;
	background: #da032f;
	background: -moz-linear-gradient(top,  #da032f 1%, #960000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#da032f), color-stop(100%,#960000));
	background: -webkit-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -o-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -ms-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: linear-gradient(to bottom,  #da032f 1%,#960000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da032f', endColorstr='#960000',GradientType=0 );
	height:42px;
	-webkit-box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	-moz-box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	text-shadow: #000203 0 1px 0;
	color: #ffffff;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	top:1px;
	-webkit-box-shadow:  0px 1px 2 0px #000000;
  box-shadow:  0px 1px 2px 0px #000000;
	z-index:905;
}

#header { border-radius:4px; }

#header .ui-title {
  margin-top:9px;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  font-size:18px;
}

#header img {
  margin-top:-7px;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
}

#header .ui-btn-inner {
	padding-top:0px;
	margin:0px;
}

#header .panel-left {
	font-size:22px;
}

#header .ui-btn {
	background: none;
	border: none;
	top: 8px;
}
#header .ui-btn-inner {
	border: none;
}

#header .ui-focus,
#header .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* -------------------------
	::	SUBNAVI
----------------------------*/
#subnav {
	height:60px;
	background: rgb(92,93,96);
	background: -moz-linear-gradient(top,  rgba(92,93,96,1) 11%, rgba(47,48,49,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,rgba(92,93,96,1)), color-stop(100%,rgba(47,48,49,1)));
	background: -webkit-linear-gradient(top,  rgba(92,93,96,1) 11%,rgba(47,48,49,1) 100%);
	background: -o-linear-gradient(top,  rgba(92,93,96,1) 11%,rgba(47,48,49,1) 100%);
	background: -ms-linear-gradient(top,  rgba(92,93,96,1) 11%,rgba(47,48,49,1) 100%);
	background: linear-gradient(to bottom,  rgba(92,93,96,1) 11%,rgba(47,48,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5d60', endColorstr='#2f3031',GradientType=0 );
	top:40px;
	z-index:900;
	border-radius:0px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.7), inset 0px -1px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.7), inset 0px -1px 1px 0px rgba(255, 255, 255, 0.2);
}

#subnav ul {
	margin:0px;
  list-style:none;
  padding:0px;
	width:100%;
}

#subnav ul li {
	float:left;
  width:25%;
  height:48px;
  text-align:center;
  border-right:1px solid #666666;
  border-left:1px solid #333333;
  margin-left:-1px;
  margin-right:-1px;
  padding-top:12px;
}

#subnav ul li.active {
	background: rgb(47,48,49);
	background: -moz-linear-gradient(top,  rgba(47,48,49,1) 0%, rgba(92,93,96,1) 89%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,48,49,1)), color-stop(89%,rgba(92,93,96,1)));
	background: -webkit-linear-gradient(top,  rgba(47,48,49,1) 0%,rgba(92,93,96,1) 89%);
	background: -o-linear-gradient(top,  rgba(47,48,49,1) 0%,rgba(92,93,96,1) 89%);
	background: -ms-linear-gradient(top,  rgba(47,48,49,1) 0%,rgba(92,93,96,1) 89%);
	background: linear-gradient(to bottom,  rgba(47,48,49,1) 0%,rgba(92,93,96,1) 89%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3031', endColorstr='#5c5d60',GradientType=0 );
	color:#FF0000;
}

#subnav ul li.active a {
	color:#FFF;
	text-shadow:#999999;
}

#subnav ul li a {
	line-height:18px;
  text-decoration:none;
  color:#999;
  font-size:8px;
}

#subnav ul li a .icon {
	font-size:24px;
}

/* -------------------------
	::	CONTENT
----------------------------*/
.content {
  padding:0px;
  color:#999999;
  margin:0px;
  border:none;
}

/* --- DASHBOARD / WEATHER --- */
.weather { 
	margin-top: 5px;
  width:25%;
  float:left;
}
.weather .day {
	background:#fff;
  padding:6px;
  margin-left:5px;
  margin-bottom:5px;
  text-align:center;
  border-radius:5px;
	-webkit-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, .25);
	-moz-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, .25);
	box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, .2), inset 0px 1px 0px 0px rgba(0, 0, 0, .3);
}
.weather.last .day { margin-right:5px; }
.weather .day .label-day { position:absolute; font-size:15px; color:#E6E3DC; }
.weather .day .icon-wether { margin-top:15px; margin-bottom:-12px; font-size:40px; }
.weather .day .label-temp { font-size:18px; margin-right:-15px; }
.weather .day .icon-temp { margin-left:-15px; font-size:30px; color:#CCCCCC; }

/* --- DASHBOARD / COUNTDOWN --- */
#content-dashboard-countdown {
	margin-top:25px;
}

#content-dashboard-countdown h3 {
	text-align:center;
  margin:10px 0px;
  color:#666;
  padding:0px 15px;
}

#CDT {
	font-size: 12px;
	color: #999;
	font-weight: bold;
	position:relative;
}

#CDT .number-wrapper {
	margin: 10px auto;
	position: relative;
	display:inline-block;
}

#CDT .number-wrapper .caption { margin-bottom:5px; }

#CDT .number {
	display: inline-block;
	background: #000;
	background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
	background-image: -o-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
	background-image: -moz-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
	background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 0 12px;
	height: 60px;
	line-height: 60px;
	min-width:28px;
	text-align: center;
	border: 1px solid #000;
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
	-moz-text-shadow: 0 3px 3px #000000;
	-webkit-text-shadow: 0 3px 3px #000000;
	text-shadow: 0 3px 3px #000000;
	font-size:30px;
	margin-left:10px;
	color:#fff;
}
       
#CDT .line {
	position: absolute;
	width: 81%;
	height: 1px;
	top: 61%;
	left:10px;
	background: #000;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
#CDT .number.sec { margin-left:5px;}
#CDT .number-wrapper.tag .line { width:88%; }
#CDT .number-wrapper.stunde .line { width:85%; }
#CDT .number-wrapper.minute .line { width:86%; }
#CDT .number-wrapper.sekunde .line { left:8px; width:85%; }

/* --- EVENTS / BUTTONS --- */
.ui-controlgroup {
  text-align:center;
}

.ui-controlgroup-controls .ui-btn-inner {
	padding-left:10px;
  padding-right:10px;
  font-size:0.9em;
}
.ui-controlgroup-controls .active {
	background: #da032f;
	background: -moz-linear-gradient(top,  #da032f 1%, #960000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#da032f), color-stop(100%,#960000));
	background: -webkit-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -o-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -ms-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: linear-gradient(to bottom,  #da032f 1%,#960000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da032f', endColorstr='#960000',GradientType=0 );
	-webkit-box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	-moz-box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	text-shadow: #000203 0 1px 0;
	color: #ffffff;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	-webkit-box-shadow:  0px 1px 2 0px #000000;
  box-shadow:  0px 1px 2px 0px #000000;
}

/* --- EVENTS / LIST --- */
#content-events-list {
  overflow:visible;
  margin-top:20px;
  min-height:100%;
  margin-bottom:20px;
}

#content-events-list li {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(230,227,220) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(230,227,220)));
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,227,220) 100%);
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,227,220) 100%);
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(230,227,220) 100%);
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(230,227,220) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e3dc',GradientType=0 );
}

#content-events-list .ui-li-divider {
	border-color:#B8B6B0;
	background: rgb(92,93,96);
	background: -moz-linear-gradient(top,  rgba(92,93,96,1) 11%, rgba(47,48,49,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,rgba(92,93,96,1)), color-stop(100%,rgba(47,48,49,1)));
	background: -webkit-linear-gradient(top,  rgba(92,93,96,1) 11%,rgba(47,48,49,1) 100%);
	background: -o-linear-gradient(top,  rgba(92,93,96,1) 11%,rgba(47,48,49,1) 100%);
	background: -ms-linear-gradient(top,  rgba(92,93,96,1) 11%,rgba(47,48,49,1) 100%);
	background: linear-gradient(to bottom,  rgba(92,93,96,1) 11%,rgba(47,48,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5d60', endColorstr='#2f3031',GradientType=0 );
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.7), inset 0px -1px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.7), inset 0px -1px 1px 0px rgba(255, 255, 255, 0.2);
}

#content-events-list li {
  margin:0px 15px;
}

#content-events-list li a {
	color:#666; 
  padding:4px 15px;
  line-height:17px;
}

#content-events-list li .ui-li-count { 
	border-radius:6px;
  color:#000;
}

#content-events-list .ui-li-heading {
float:left;
  margin:0px;
  padding:5px 0px;
  font-size:18px;
  display:inline-block;
}

#content-events-list .time {
	margin-top:0px;
  float:right;
  font-size:10px;
}

#content-events-list .time:before {
	font-size:10px;
  margin-right:5px;
}

#content-events-list p {
	border-top:1px solid #999;
  margin:0px;
  padding:5px 0px 0px 0px;
  font-size:10px;
  clear:both;
}

#content-events-list p a {
	color:#999;
  margin:0px;
  padding:0px;
}

/* -------------------------
	::	PANEL 
----------------------------*/
#left-panel {
	background:#1B1B1B;
  border-right:1px solid #272727;
}

#left-panel .ui-panel-inner { 
	padding:0px;
}
#left-panel ul { 
	width:100%; 
	margin:0px;
}

#left-panel li {
	background:none; 
  border:none;
}

#left-panel .ui-li .ui-li {
	border-top:1px solid #272727;
  border-bottom:1px solid #000;
}

#left-panel li a {
	height:20px;
	font-size:12px;
	line-height:20px;
	background:none;
  border:none;
}

#left-panel .header {	
  border-top:1px solid #F80749;
	height:41px;
	background: #111111 /*{a-bar-background-color}*/;
	color: #fff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #000 /*{a-bar-shadow-color}*/;
	line-height:41px;
}

#left-panel .header a {	
	color:#fff;
	font-size:14px;
	text-decoration:none;
	float:right;
	margin-right:12px;
}

#left-panel .header .title {
	font-size:14px;
	margin:0px 0px 0px 15px;
	padding:0;
	float:left;
}

/* -------------------------
	::	STUFF
----------------------------*/

/* iOS BUTTON ARROW LEFT */
#ios-arrow-left {
	display : block;
	position:absolute;
	top:7px;
	left:15px;
	z-index : 0; 
	height:30px;
	width:auto;
	padding: 0 10px 0 6px;
	background-size : 30px 30px;
	background-repeat:repeat-x;
	background-position :0;
	border-radius: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	box-shadow :0 -1px 1px rgba(0,0,0,0.1)inset,
			0 1px 2px rgba(0,0,0,0.8)inset;
	color:#fff;
	text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#ios-arrow-left:before{
	position:absolute;
	content : ' ';
	left:-8px;
	top:4px;
	height : 23px;
	width: 24px;
	z-index : 1;
	background-repeat:repeat-x;
	background-size : 30px 30px;
	background-position :-1px -1.5px;
	-moz-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
	-o-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
	-webkit-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
	transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
	border-top-right-radius : 11px;
	border-top-left-radius :0px;
	border-bottom-right-radius : 0;

	border-bottom-left-radius : 10px;
	border-left : 1px solid rgba(255,255,255,0.3);
	box-shadow :  0px 1px 1px rgba(0,0,0,0.5) inset,
			2px -2px 2px -3px rgba(0,0,0,0.1) inset;
}
#ios-arrow-left:after {
	font-family : HelveticaNeue,Helvetica, Arial;
	font-weight: 500;
	font-size : 12px;
	line-height : 30px;
	text-align:center;    
	content: attr(title)"";
	z-index: 999;
	left:-2px;
	padding-left:3px;
	position:relative;
	height: 30px;
	line-height:30px;
	display:block;
	background-repeat:repeat-x;
	background-size : 30px 30px;
	background-position :-1px -0.5px;
	box-shadow :0 -3px 1px -2px rgba(0,0,0,0.1)inset,
							0 4px 2px -3px rgba(0,0,0,0.8)inset;
}
#ios-arrow-left,
#ios-arrow-left:after {
	background: #da032f;

	background: -moz-linear-gradient(top,  #da032f 1%, #960000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#da032f), color-stop(100%,#960000));
	background: -webkit-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -o-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -ms-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: linear-gradient(to bottom,  #da032f 1%,#960000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da032f', endColorstr='#960000',GradientType=0 );
}

#ios-arrow-left:before {
	background: #960000;
	background: -moz-linear-gradient(45deg,  #960000 0%, #da032f 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#960000), color-stop(100%,#da032f));

	background: -webkit-linear-gradient(45deg,  #960000 0%,#da032f 100%);
	background: -o-linear-gradient(45deg,  #960000 0%,#da032f 100%);
	background: -ms-linear-gradient(45deg,  #960000 0%,#da032f 100%);
	background: linear-gradient(45deg,  #960000 0%,#da032f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#960000', endColorstr='#da032f',GradientType=1 );
}

#ios-arrow-left:hover,
#ios-arrow-left:hover:after,
#ios-arrow-left:hover:before {
	background-color: rgba(54,88,135,1);/*hovercolor*/
}

/* iOS HEADER BUTTON */
#ios-button {
	display : block;
	position:absolute;
	top:7px;
	left:8px;
	z-index : 0; 
	height:30px;
	width:auto;
	line-height:36px;
	vertical-align:middle;
	padding: 0px 6px 0px 6px;
	background-size : 30px 30px;
	background-repeat:repeat-x;
	background-position :0;
	border-radius: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	box-shadow :0 -1px 1px rgba(0,0,0,0.1)inset,
							0 1px 2px rgba(0,0,0,0.8)inset;
	color:#fff;
	text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
	background: #da032f;
	background: -moz-linear-gradient(top,  #da032f 1%, #960000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#da032f), color-stop(100%,#960000));
	background: -webkit-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -o-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -ms-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: linear-gradient(to bottom,  #da032f 1%,#960000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da032f', endColorstr='#960000',GradientType=0 );
}

#ios-button a { color:#FFFFFF; text-decoration:none; }

/* -------------------------
	::	RETINA OPTIMIZER
----------------------------*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

}

