/* Swipe works with mouse as well but often causes text selection. */

#page * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

/* -------------------------
	::	Page/Body
----------------------------*/
.ui-overlay-c, .ui-panel-content-wrap  { 
	background: #f4f4f4;
	background: -moz-linear-gradient(top,  #f4f4f4 1%, #fafafa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(100%,#fafafa));
	background: -webkit-linear-gradient(top,  #f4f4f4 1%,#fafafa 100%);
	background: -o-linear-gradient(top,  #f4f4f4 1%,#fafafa 100%);
	background: -ms-linear-gradient(top,  #f4f4f4 1%,#fafafa 100%);
	background: linear-gradient(to bottom,  #f4f4f4 1%,#fafafa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#fafafa',GradientType=0 );
	border:none;
}

.ui-page {
background:#000;
  margin:0px;
  padding:0px;
	border:none;
}

/* -------------------------
	::	HEADER
----------------------------*/
.ui-header {
	border: none;
	background: #da032f;
	background: -moz-linear-gradient(top,  #da032f 1%, #960000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#da032f), color-stop(100%,#960000));
	background: -webkit-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -o-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -ms-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: linear-gradient(to bottom,  #da032f 1%,#960000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da032f', endColorstr='#960000',GradientType=0 );
	height:42px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	-moz-box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	box-shadow:inset rgba(255,255,255,0.2) 0 1px 0;
	text-shadow: #000203 0 1px 0;
	color: #ffffff;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	margin-top:1px;
	-webkit-box-shadow:  0px 2px 1px 0px #000000;
  box-shadow:  0px 2px 1px 0px #000000;
}

#header .ui-title {
  margin-top:4px;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
}

#header .ui-btn-inner {
	padding-top:0px;
	margin:0px;
}

#header .panel-left {
	font-size:22px;
}

#header .ui-btn {
	background: none;
	border: none;
	top: 9px;
}
#header .ui-btn-inner {
	border: none;
}

#header .ui-focus,
#header .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


/* -------------------------
	::	CONTENT
----------------------------*/
#content {
  padding:0px;
  color:#999999;
  margin:0px;
}

/* -------------------------
	::	FOOTER
----------------------------*/
#footer, .ui-footer {
	height:48px;
	background: #da032f;
	background: -moz-linear-gradient(top,  #da032f 1%, #960000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#da032f), color-stop(100%,#960000));
	background: -webkit-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -o-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -ms-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: linear-gradient(to bottom,  #da032f 1%,#960000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da032f', endColorstr='#960000',GradientType=0 );	
	border-top:1px solid #9d0120;
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

#footer ul {
	margin:0px;
  padding:0px;
  list-style:none;
}

#footer li {
	width:24%;
  float:left;
  list-style:none;
  line-height:17px;
  padding:0px;
  margin:0px;
	height:48px;
	text-align:center;
	padding-top:5px;
	border-left:2px solid #950203;
	border-right:2px solid #d73a47;
}

#footer li.ui-btn-active,
#footer li.ui-state-persist {
	text-shadow:1px 1px #000;
	border-left:2px solid #950203;
	border-right:2px solid #d73a47;
	border-radius:0px;
}

#footer li.ui-btn-active a,
#footer li.ui-state-persist a,
#footer li.ui-btn-active .icon {
color:#fff;
}

#footer a {
	padding:0px;
  margin:0px;
  text-decoration:none;
	width:100%;
	height:48px;
	font-size:0.6em;
	color:#fff;
}

#footer .icon {
	font-size:22px;
	color:#fff;
	text-shadow: 0px 2px 0px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=1);
}


/* -------------------------
	::	PANEL 
----------------------------*/
#left-panel {
	background:#1B1B1B;
  border-right:1px solid #272727;
}

#left-panel .ui-panel-inner { 
	padding:0px;
}
#left-panel ul { 
	width:100%; 
	margin:0px;
}

#left-panel li {
	background:none; 
  border:none;
}

#left-panel .ui-li .ui-li {
	border-top:1px solid #272727;
  border-bottom:1px solid #000;
}

#left-panel li a {
	height:20px;
	font-size:12px;
	line-height:20px;
	background:none;
  border:none;
}

#left-panel .header {	
  border-top:1px solid #F80749;
	height:41px;
	background: #111111 /*{a-bar-background-color}*/;
	color: #fff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #000 /*{a-bar-shadow-color}*/;
	line-height:41px;
}

#left-panel .header a {	
	color:#fff;
	font-size:14px;
	text-decoration:none;
	float:right;
	margin-right:12px;
}

#left-panel .header .title {
	font-size:14px;
	margin:0px 0px 0px 15px;
	padding:0;
	float:left;
}

/* -------------------------
	::	STUFF
----------------------------*/


/* iOS BUTTON ARROW LEFT */
#ios-arrow-left {
    display : block;
    position:absolute;
  	top:7px;
  	left:15px;
    z-index : 0; 
    height:30px;
    width:auto;
    padding: 0 10px 0 6px;
    background-size : 30px 30px;
    background-repeat:repeat-x;
    background-position :0;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    box-shadow :0 -1px 1px rgba(0,0,0,0.1)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#ios-arrow-left:before{
    position:absolute;
    content : ' ';
    left:-8px;
    top:4px;
    height : 23px;
    width: 24px;
    z-index : 1;
    background-repeat:repeat-x;
    background-size : 30px 30px;
    background-position :-1px -1.5px;
    -moz-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
    -o-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
    -webkit-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
    transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
    border-top-right-radius : 11px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0;
    border-bottom-left-radius : 10px;
    border-left : 1px solid rgba(255,255,255,0.3);
    box-shadow :  0px 1px 1px rgba(0,0,0,0.5) inset,
        2px -2px 2px -3px rgba(0,0,0,0.1) inset;
}
#ios-arrow-left:after {
    font-family : HelveticaNeue,Helvetica, Arial;
    font-weight: 500;
    font-size : 12px;
    line-height : 30px;
    text-align:center;    
    content: attr(title)"";
    z-index: 999;
    left:-2px;
    padding-left:3px;
    position:relative;
    height: 30px;
    line-height:30px;
    display:block;
    background-repeat:repeat-x;
    background-size : 30px 30px;
    background-position :-1px -0.5px;
    box-shadow :0 -3px 1px -2px rgba(0,0,0,0.1)inset,
                0 4px 2px -3px rgba(0,0,0,0.8)inset;
}
#ios-arrow-left,
#ios-arrow-left:after {
	background: #da032f;

	background: -moz-linear-gradient(top,  #da032f 1%, #960000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#da032f), color-stop(100%,#960000));
	background: -webkit-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -o-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: -ms-linear-gradient(top,  #da032f 1%,#960000 100%);
	background: linear-gradient(to bottom,  #da032f 1%,#960000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da032f', endColorstr='#960000',GradientType=0 );
}

#ios-arrow-left:before {
	background: #960000;
	background: -moz-linear-gradient(45deg,  #960000 0%, #da032f 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#960000), color-stop(100%,#da032f));

	background: -webkit-linear-gradient(45deg,  #960000 0%,#da032f 100%);
	background: -o-linear-gradient(45deg,  #960000 0%,#da032f 100%);
	background: -ms-linear-gradient(45deg,  #960000 0%,#da032f 100%);
	background: linear-gradient(45deg,  #960000 0%,#da032f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#960000', endColorstr='#da032f',GradientType=1 );
}

#ios-arrow-left:hover,
#ios-arrow-left:hover:after,
#ios-arrow-left:hover:before {
    background-color: rgba(54,88,135,1);/*hovercolor*/
}

/* iOS HEADER BUTTON */
#ios-button {
    display : block;
    position:absolute;
  	top:7px;
  	left:8px;
    z-index : 0; 
    height:30px;
    width:auto;
  	line-height:36px;
		vertical-align:middle;
    padding: 0px 6px 0px 6px;
    background-size : 30px 30px;
    background-repeat:repeat-x;
    background-position :0;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    box-shadow :0 -1px 1px rgba(0,0,0,0.1)inset,
        0 1px 2px rgba(0,0,0,0.8)inset;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
		background: #da032f;
		background: -moz-linear-gradient(top,  #da032f 1%, #960000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#da032f), color-stop(100%,#960000));
		background: -webkit-linear-gradient(top,  #da032f 1%,#960000 100%);
		background: -o-linear-gradient(top,  #da032f 1%,#960000 100%);
		background: -ms-linear-gradient(top,  #da032f 1%,#960000 100%);
		background: linear-gradient(to bottom,  #da032f 1%,#960000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da032f', endColorstr='#960000',GradientType=0 );
}
#ios-button a { color:#FFFFFF; text-decoration:none; }

/* -------------------------
	::	RETINA OPTIMIZER
----------------------------*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

/*
#footer li.border {
	background:url(../img/prototype2/footer-border-x2.png) no-repeat left top;
	-webkit-backgorund-size:2px 48px;
	background-size: 2px 48px;
}

#footer, .ui-footer {
	background:url(../img/prototype2/footer-bg-2x.png) repeat-x;
	-webkit-backgorund-size:2px 48px;
}
*/

}





